fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
langchain-groq
langchain-google-genai
langchain-core
apscheduler
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
aiofiles
